<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Credit Card Payment</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!--Must vue-cliboard must be below vue.js-->
</head>

<body>

    <form action="https://dovydas.xyz/" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    <script src="{{url}}"></script>

</body>
</html>