<div id="editnote-include" class="container">
    <div class="col-md-12 form-group">
        <label for="tracklist-area">
            <div>
                <h3>Edit Note</h3>
                <p class="text-info">
                    Entering an edit note that describes where you got your information is highly recommended. Not only does it make it clear where you got your information, but it can also encourage other users to vote on your edit — thus making your edit get applied faster.
                </p>
                <p class="text-info">
                    Even just providing a URL or two is helpful!
                </p>
            </div>
        </label>
<textarea id="tracklist-area" class="form-control" rows="12">
Data for this album entry was taken from:
    {{meta.album_url}}

With a tool found at :
    {{tool_url}}
</textarea>
    </div>
    </div>