<footer id="bc2mbfooter" class="footer bg-light">

  <div>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link text-info" href="https://github.com/dovydasgulbinas/django-apps/tree/master/bmbhelper">Source Code</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-info" href="https://github.com/dovydasgulbinas/django-apps/blob/master/bmbhelper/readme.md">About App</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-info" href="https://dovydasgulbinas.github.io/about">About me</a>
  </li>
</ul>
  </div>

</footer>