<div id="album-meta">



    <div class="container">
    <div class="col-md-9">
        <h3>Release Information</h3>

    <table class="table">
        <caption>Copy & paste values above In Musicbrainz.org</caption>

        <thead></thead>

        <tbody>
        <tr>
            <th>Release information / Title:</th>
            <td><input class="form-control form-control-sm" type="text" value="{{meta.album_name}}"></td>
        </tr>

        <tr>
            <th>Release information / Artist:</th>
            <td><input class="form-control form-control-sm" type="text" value="{{meta.album_artist}}"></td>
        </tr>

        <tr>
            <th>Release event / Date:</th>
            <td><input class="form-control form-control-sm" type="text" value="{{meta.album_release_date}}"></td>
        </tr>

        <tr>
            <th>External Links / Add link:</th>
            <td><input class="form-control form-control-sm" type="text" value="{{meta.album_url}}"></td>
        </tr>

        </tbody>

    </table>

    </div>

    <div class="col-md-3">

        <a href="{{ meta.album_cover_art}}" download>
            <img src="{{ meta.album_cover_art }}" alt="image" class="img-thumbnail"/>
        </a>

        <div class="btn-group fullwidth">

            <a href="https://musicbrainz.org/release/add/" target="_blank"
               rel="noopener noreferrer" class="btn btn-primary active btn-block">
                Open MusicBrainz
            </a>
        </div>

    </div>

</div>

</div>
